@{
    ViewData["Title"] = "Administrative Portal";

}

<h2>@ViewData["Title"]</h2>

<p>Please enter your credentials:</p>

<form asp-controller="LogIn" asp-action="Index">
    <p>
        Username: <input type="text" name="pUsername"> 
        Password: <input type="text" name="pPassword">
        <input type="submit" value="Log-In" />
    </p>
</form>