bin/
obj/
/packages/
.idea/.idea.University-DB1-FirstProject/.idea/

.idea/.idea.University-DB1-FirstProject/

*.config
University-DB1-FirstProject/.idea/.idea.University-DB1-FirstProject.dir/.idea/contentModel.xml
University-DB1-FirstProject/.idea/.idea.University-DB1-FirstProject.dir/.idea/dataSources.local.xml
University-DB1-FirstProject/.idea/.idea.University-DB1-FirstProject.dir/.idea/dataSources.xml
University-DB1-FirstProject/.idea/.idea.University-DB1-FirstProject.dir/.idea/dataSources/1279cc5d-5df6-490d-b37c-c4d6baa8d0d9.xml
University-DB1-FirstProject/.idea/.idea.University-DB1-FirstProject.dir/.idea/dataSources/1279cc5d-5df6-490d-b37c-c4d6baa8d0d9/storage_v2/_src_/database/master.YiqNvw.meta
University-DB1-FirstProject/.idea/.idea.University-DB1-FirstProject.dir/.idea/dataSources/1279cc5d-5df6-490d-b37c-c4d6baa8d0d9/storage_v2/_src_/database/master.YiqNvw/schema/dbo.sYMBAA.meta
University-DB1-FirstProject/.idea/.idea.University-DB1-FirstProject.dir/.idea/dataSources/1279cc5d-5df6-490d-b37c-c4d6baa8d0d9/storage_v2/_src_/database/master.YiqNvw/schema/dbo.sYMBAA.zip
University-DB1-FirstProject/.idea/.idea.University-DB1-FirstProject.dir/.idea/dataSources/1279cc5d-5df6-490d-b37c-c4d6baa8d0d9/storage_v2/_src_/database/master.YiqNvw/schema/INFORMATION_SCHEMA.NBgcMw.meta
University-DB1-FirstProject/.idea/.idea.University-DB1-FirstProject.dir/.idea/dataSources/1279cc5d-5df6-490d-b37c-c4d6baa8d0d9/storage_v2/_src_/database/master.YiqNvw/schema/sys.zb4BAA.meta
University-DB1-FirstProject/.idea/.idea.University-DB1-FirstProject.dir/.idea/dataSources/fec4caf9-ce03-4fb5-b802-65fd0c336989.xml
University-DB1-FirstProject/.idea/.idea.University-DB1-FirstProject.dir/.idea/dataSources/fec4caf9-ce03-4fb5-b802-65fd0c336989/storage_v2/_src_/database/DB1-FirstProject.gw5wMA.meta
University-DB1-FirstProject/.idea/.idea.University-DB1-FirstProject.dir/.idea/dataSources/fec4caf9-ce03-4fb5-b802-65fd0c336989/storage_v2/_src_/database/DB1-FirstProject.gw5wMA/schema/dbo.sYMBAA.meta
University-DB1-FirstProject/.idea/.idea.University-DB1-FirstProject.dir/.idea/dataSources/fec4caf9-ce03-4fb5-b802-65fd0c336989/storage_v2/_src_/database/DB1-FirstProject.gw5wMA/schema/dbo.sYMBAA.zip
University-DB1-FirstProject/.idea/.idea.University-DB1-FirstProject.dir/.idea/dataSources/fec4caf9-ce03-4fb5-b802-65fd0c336989/storage_v2/_src_/database/DB1-FirstProject.gw5wMA/schema/INFORMATION_SCHEMA.NBgcMw.meta
University-DB1-FirstProject/.idea/.idea.University-DB1-FirstProject.dir/.idea/dataSources/fec4caf9-ce03-4fb5-b802-65fd0c336989/storage_v2/_src_/database/DB1-FirstProject.gw5wMA/schema/sys.zb4BAA.meta
University-DB1-FirstProject/.idea/.idea.University-DB1-FirstProject.dir/.idea/indexLayout.xml
University-DB1-FirstProject/.idea/.idea.University-DB1-FirstProject.dir/.idea/workspace.xml
ExecuteAllSQL-Eduardo.bat


University-DB1-FirstProject/Interfaces/IConnectionStrings.cs
