bin/
obj/
/packages/
.idea/.idea.University-DB1-FirstProject/.idea/

.idea/.idea.University-DB1-FirstProject/
University-DB1-FirstProject/.idea/.idea.University-DB1-FirstProject.dir/riderModule.iml
University-DB1-FirstProject/.idea/.idea.University-DB1-FirstProject.dir/.idea/workspace.xml
University-DB1-FirstProject/.idea/.idea.University-DB1-FirstProject.dir/.idea/modules.xml
University-DB1-FirstProject/.idea/.idea.University-DB1-FirstProject.dir/.idea/indexLayout.xml
University-DB1-FirstProject/.idea/.idea.University-DB1-FirstProject.dir/.idea/contentModel.xml
