# Default ignored files
/.idea.University-DB1-FirstProject.dir/.idea/workspace.xml
# Datasource local storage ignored files
/.idea.University-DB1-FirstProject.dir/.idea/dataSources/
/.idea.University-DB1-FirstProject.dir/.idea/dataSources.local.xml
