@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Main querrys menu</title>
</head>
<body>
<p>Please select an option:</p>
<div>
    <ul>
        <li><a href="/Home/Index?pOption=0">Users menu</a></li>
        <li><a href="/Home/Index?pOption=1">Owners menu</a></li>
        <li><a href="/Home/Index?pOption=2">Properties actions</a></li>
    </ul>
</div>
</body>
</html>