USE [DB1-FirstProject]
GO
/****** Object:  StoredProcedure [dbo].[SP_getOwnerInfoByName]    Script Date: 6/1/2020 12:36:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jorge Gutiérrez Cordero
-- Create date: 2020/6/1
-- Description:	Query the information of an owner by name.
-- =============================================
ALTER PROCEDURE [dbo].[SP_getOwnerInfoByName]
	@pName varchar(50)
AS
BEGIN

	begin try

		select * 
		from activeOwners
		where Name = @pName

		return 1

	end try

	begin catch

		return @@Error * -1

	end catch
END
