@model string

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Info of User: @ViewData["Id"]</title>
</head>
<body>
<div>
    <ul>
        <li> Password: @Model</li>
    </ul>
</div>
</body>
</html>