@model University_DB1_FirstProject.Models.UserDisplayModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Info of User: @ViewData["Id"]</title>
</head>
<body>
<div>
    <ul>
        <li> Username: @Model.Name</li>
        <li> Type: @Model.isAdmin</li>
    </ul>
</div>
</body>
</html>